# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Olaf-Wolf3D will be requested for review when someone opens a pull request.
*       @Olaf-Wolf3D @TechyDaniel
